<button type='submit' form='check_list'>スケジューリングの割当</button>
<div clas='tableContainer'>
    <table class='task_table'>
        <tr>
            <th>ID</th>
            <th>タスク名</th>
            <th>ステータス</th>
            <th>サブタスク</th>
            <th>想定工数</th>
            <th>実際工数</th>
            <th>メモ</th>
            <th>更新</th>
            <th>削除</th>
        </tr>
        
        
        <% tasks.each do |task| %>
            
            <%= form_for [user,project,work_target,flag,task] do |f| %> 
                <tr>
                    <td><%= task.id %></td>
                    <td><%= f.text_field :name %></td>
                    <td></td>
                    <% if task.children.count >= 1 %>
                        <td><%= link_to 'あり', user_project_work_target_flag_tasks_path(user,project,work_target,flag,task) %></td>
                        <td><%= task.descendants.sum(:assumptionCost) %></td>
                    <% else %>
                        <td><%= link_to 'なし', user_project_work_target_flag_tasks_path(user,project,work_target,flag,task) %></td>
                        <td><%= f.number_field :assumptionCost,step: "0.25"%></td>
                    <% end %>
                    <td></td>
                    <td><%= f.text_area :memo %></td>
                    <td><%= f.submit "更新"%></></td>
                    <td>
                        <%= link_to [user,project,work_target,flag,task],method: :delete,data:{confirm:"本当に削除しますか？"} do %>
                            <button>削除</button>
                        <% end %>
                    </td>

                    <% #タスク追加用 %>
                    <%= f.hidden_field :task_id,:value=> task.id %>
                    <%= f.hidden_field :parent_id,:value=> task.parent_id %>
                </tr>
            <% end %>
        <% end %>      
    </table>
</div>