<h1><%= @title %></h1>
<%= link_to  "タスクの追加",'' %>
<p>想定総工数：<%= @assumptionTotalCost %></p>
<p>想定日数：<%= @assumptionday %></p>
<p>完了予定日：<%= '' %></p>
<p>納品予定日：<%= '' %></p>
<p>進捗：<%= @progress %></p>
<%= render  partial: "task_edit_table", locals:{user_tasks: @user_tasks} %>