<%# タイトル %>
    <h1><%= @title %></h1>
<%# タスクバー %>
    <div id='task-bar'>
        <div class="listing-product-detail__category">
            <%# プロジェクトのセレクトボックス %>
            <div id='parent-select-wrapper'>
                <%= form_for @user do |f| %>
                    <%= label_tag :parent_category, "プロジェクト：" %>
                    <%= f.select :project_ids,@projects.map{|project| [project.name,project.id]},{},id:'parent_category' %>
                <% end %>
            </div>
            <%# 作業対象のセレクトボックス %>
            <div id='children-select-wrapper'>
                <label for='child_category'>作業対象：</label>
                <select class="listing-select-wrapper__box--select" id="child_category" name="category_id">
                    <option value="---">---</option>
                </select>
            </div>
            <%# 目標のセレクトボックス %>
            <div id='grand-children-select-wrapper'>
                <label for='grand_child_category'>目標：</label>
                <select class="listing-select-wrapper__box--select" id="grand_child_category" name="grand_category_id">
                    <option value="---">---</option>
                </select>
            </div>
            
        <div id='unassigned-tasks'>
            <div id='unassigned-tasks-list'>
                <h4>タスク</h4>
                    <% @tasks.each do |t| %>
                    <div id='mydraggable' data-t-id=<% t.to_json %>>
                        <%= t.name %>
                    </div> 
                    <% end %>
            </div>
         </div>
    </div>
<%# カレンダー %>
    <%= javascript_pack_tag 'calendar/event' %>
    <div id='calendar'></div>
<!-- モーダルボタン -->
    <a href="#modal">モーダルボタン</a>
    
    <!-- モーダルに出てくる内容 -->
    <div class="remodal" data-remodal-id="modal">
        <form action="">
            <label for="">タスク：</label>
            <%= button_to '選択する',user_project_work_target_flag_tasks_path,method: :get  %>
            <label for="">開始時刻:</label>
            <input type="time">

            <label for="">終了時刻:</label>
            <input type="time">
        </form>
        <!-- クローズボタン -->
        <button data-remodal-action="close" class="remodal-close"></button>
    
    </div>
</div>



