<%= stylesheet_link_tag 'header' %>
<header>
<div class='header-inner'>
    <h1 class='header-logo'>
        <%=image_tag 'logo.png' %>
    </h1>
    <nav class='header-nav'>
        <ul class='header-navList'>
            <li><%= link_to  "フラグ設定","#" %></li>
            <li><%= link_to  "タスク管理", "#" %></li>
            <li><%= link_to  "スケジューリング","#" %></li>
        </ul>
    </nav>
    <div class='acount-list-inner'>
        <ul class='acount-list'>
            <li class='acount-item'><%= "#" %></li>
            <li class='acount-item'><%= "#" %></li>
            <li class='acount-item'><%= "#" %></li>
        </ul>
    </div>
</div>
</header>