<%= stylesheet_link_tag 'header' %>
<header>
<div class='header-inner'>
    <h1 class='header-logo'>
        <%=image_tag 'logo.png' %>
    </h1>
    <nav class='header-nav'>
        <ul class='header-navList'>
            <li><%= link_to  "フラグ設定", work_target_flags_path(@work_target) %></li>
            <li><%= link_to  "タスク管理", flag_tasks_path(@flag) %></li>
            <li><%= link_to  "スケジューリング", user_schedules_path(@user) %></li>
        </ul>
    </nav>
</div>
</header>